USE [master]
GO
/****** Object:  Database [pbms_db]    Script Date: 01/07/2026 1:48:17 CH ******/
CREATE DATABASE [pbms_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pbms_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pbms_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pbms_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pbms_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pbms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pbms_db]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[actor_id] [bigint] NULL,
	[action_type] [varchar](50) NULL,
	[target_entity] [varchar](50) NULL,
	[target_id] [bigint] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[action] [varchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[resource] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[building_profiles]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[building_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[address] [varchar](500) NOT NULL,
	[hotline] [varchar](50) NULL,
	[operating_hours] [varchar](255) NULL,
	[rules] [varchar](max) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fee_adjustments]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fee_adjustments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parking_session_id] [bigint] NULL,
	[approved_by_staff_id] [bigint] NULL,
	[adjustment_amount] [decimal](18, 2) NOT NULL,
	[reason] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[floors]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[floors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[building_id] [bigint] NULL,
	[floor_name] [varchar](100) NOT NULL,
	[floor_level] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[floor_type] [varchar](50) NULL,
	[map_cols] [int] NULL,
	[map_rows] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flyway_schema_history]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED 
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gates]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor_id] [bigint] NULL,
	[gate_name] [varchar](100) NOT NULL,
	[gate_type] [varchar](50) NOT NULL,
	[live_override_mode] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[layout_x] [float] NULL,
	[layout_y] [float] NULL,
	[rotation] [int] NULL,
	[vehicle_type_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incident_tickets]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incident_tickets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[staff_id] [bigint] NULL,
	[session_id] [bigint] NULL,
	[issue_type] [varchar](50) NOT NULL,
	[priority] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[resolution_notes] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[uploaded_doc_url] [varchar](max) NULL,
	[expected_zone_id] [bigint] NULL,
	[actual_zone_id] [bigint] NULL,
	[assigned_staff_id] [bigint] NULL,
	[parking_session_id] [bigint] NULL,
	[reported_by_id] [bigint] NULL,
	[fine_amount] [numeric](38, 2) NULL,
	[uploaded_card_url] [varchar](255) NULL,
	[fee_paused_at] [datetime2](7) NULL,
	[reported_plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_tickets]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_tickets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [bigint] NULL,
	[rfid_card_id] [bigint] NULL,
	[valid_from] [datetime] NOT NULL,
	[valid_until] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[auto_renew] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[user_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_sessions]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_type_id] [bigint] NULL,
	[rfid_card_id] [bigint] NULL,
	[gate_in_id] [bigint] NULL,
	[gate_out_id] [bigint] NULL,
	[reservation_id] [bigint] NULL,
	[time_in] [datetime] NOT NULL,
	[time_out] [datetime] NULL,
	[pic_in_panorama] [varchar](max) NULL,
	[pic_out_panorama] [varchar](max) NULL,
	[pic_in_face] [varchar](max) NULL,
	[pic_out_face] [varchar](max) NULL,
	[global_base_fee] [decimal](18, 2) NULL,
	[penalty_fee] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
	[status] [varchar](50) NOT NULL,
	[slot_id] [bigint] NULL,
	[plate] [varchar](50) NULL,
	[plate_out] [varchar](50) NULL,
	[total_fee] [decimal](18, 2) NULL,
	[base_fee] [numeric](18, 2) NULL,
	[entry_image_url] [varchar](500) NULL,
	[entry_time] [datetime2](7) NULL,
	[exit_image_url] [varchar](500) NULL,
	[exit_time] [datetime2](7) NULL,
	[lpr_image_in] [varchar](500) NULL,
	[lpr_image_out] [varchar](500) NULL,
	[entry_gate_id] [bigint] NULL,
	[exit_gate_id] [bigint] NULL,
	[suggested_zone_id] [bigint] NULL,
	[vehicle_id] [bigint] NULL,
	[suggested_zone_name] [varchar](255) NULL,
	[discount_valid_until] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_orders]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[reservation_id] [bigint] NULL,
	[monthly_ticket_id] [bigint] NULL,
	[order_code] [varchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_blocks]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_blocks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[shift_id] [bigint] NOT NULL,
	[block_order] [int] NOT NULL,
	[duration_mins] [int] NOT NULL,
	[fee] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_policies]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_policies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_name] [varchar](255) NOT NULL,
	[global_base_mins] [int] NOT NULL,
	[global_base_fee] [decimal](18, 2) NOT NULL,
	[max_parking_cap] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[vehicle_type_id] [bigint] NOT NULL,
	[monthly_rate] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_shifts]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_shifts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_id] [bigint] NOT NULL,
	[shift_name] [varchar](100) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[total_duration_mins] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refund_requests]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refund_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[reference_type] [varchar](50) NOT NULL,
	[reference_id] [varchar](50) NOT NULL,
	[paid_amount] [decimal](18, 2) NOT NULL,
	[penalty_fee] [decimal](18, 2) NOT NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[bank_name] [varchar](100) NULL,
	[account_number] [varchar](100) NULL,
	[account_name] [varchar](100) NULL,
	[status] [varchar](50) NOT NULL,
	[cancel_time] [datetime] NOT NULL,
	[reject_reason] [varchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[proof_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [bigint] NULL,
	[slot_id] [bigint] NULL,
	[expected_entry_time] [datetime] NOT NULL,
	[expected_duration_minutes] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[reservation_fee] [decimal](18, 2) NOT NULL,
	[qr_code] [varchar](255) NULL,
	[refund_status] [varchar](50) NULL,
	[refund_amount] [decimal](18, 2) NULL,
	[refunded_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[zone_id] [bigint] NULL,
	[refund_proof_url] [varchar](500) NULL,
	[refund_reject_reason] [varchar](max) NULL,
	[notified_early_arrival] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfid_cards]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfid_cards](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[card_code] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[assigned_plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routing_rules]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routing_rules](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[rule_name] [varchar](255) NOT NULL,
	[fill_threshold_pct] [int] NOT NULL,
	[suggested_zone_id] [bigint] NULL,
	[is_active] [bit] NULL,
	[end_time] [time](7) NULL,
	[is_default] [bit] NULL,
	[start_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[slot_name] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[version] [int] NULL,
	[current_plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_work_sessions]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_work_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[staff_id] [bigint] NULL,
	[gate_id] [bigint] NULL,
	[login_time] [datetime] NOT NULL,
	[logout_time] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
	[actual_revenue] [numeric](38, 2) NULL,
	[discrepancy_status] [varchar](50) NULL,
	[expected_revenue] [numeric](38, 2) NULL,
	[revenue_variance] [numeric](38, 2) NULL,
	[variance_reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_configs]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_configs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](255) NOT NULL,
	[config_value] [varchar](max) NULL,
	[description] [varchar](500) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parking_session_id] [bigint] NULL,
	[monthly_ticket_id] [bigint] NULL,
	[payment_order_id] [bigint] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[transaction_reference] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[google_id] [varchar](100) NULL,
	[is_verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_types]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
	[matrix_width] [int] NOT NULL,
	[matrix_height] [int] NOT NULL,
	[category] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[icon_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[plate_number] [varchar](50) NOT NULL,
	[color] [varchar](50) NULL,
	[brand] [varchar](100) NULL,
	[status] [varchar](50) NULL,
	[blacklist_reason] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_blacklisted] [bit] NOT NULL,
	[customer_id] [bigint] NULL,
	[blacklist_evidence_url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zone_hourly_trends]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone_hourly_trends](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[time_window] [datetime] NOT NULL,
	[occupancy_pct] [decimal](5, 2) NOT NULL,
	[revenue_generated] [decimal](18, 2) NOT NULL,
	[entries_count] [int] NOT NULL,
	[exits_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zones]    Script Date: 01/07/2026 1:48:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[zone_name] [varchar](100) NOT NULL,
	[function_type] [varchar](50) NOT NULL,
	[layout_x] [float] NULL,
	[layout_y] [float] NULL,
	[rotation] [int] NULL,
	[overflow_threshold] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [actor_id], [action_type], [target_entity], [target_id], [old_value], [new_value], [created_at], [updated_at], [action], [description], [ip_address], [resource]) VALUES (5, 10, NULL, NULL, NULL, NULL, N'[18,{"name":"Nguyễn Văn B","role":"CUSTOMER"},"systemadministratorweb@gmail.com"]', CAST(N'2026-06-28T09:19:53.817' AS DateTime), CAST(N'2026-06-28T09:19:53.8176834' AS DateTime2), N'UPDATE', N'Cập nhật thông tin người dùng', N'0:0:0:0:0:0:0:1', N'User')
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[building_profiles] ON 

INSERT [dbo].[building_profiles] ([id], [name], [address], [hotline], [operating_hours], [rules], [updated_at], [created_at]) VALUES (2, N'Smart Parking Facility', N'Khu cong nghe cao, Quan 9, TP.HCM', N'0123456789', N'06:00 - 22:30', N'Tuan thu toc do 5km/h', CAST(N'2026-06-29T00:13:33.240' AS DateTime), CAST(N'2026-06-21T21:56:26.5100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[building_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[floors] ON 

INSERT [dbo].[floors] ([id], [building_id], [floor_name], [floor_level], [capacity], [floor_type], [map_cols], [map_rows]) VALUES (1, 2, N'Car Floor', 1, 0, N'FOUR_WHEEL', 55, 40)
INSERT [dbo].[floors] ([id], [building_id], [floor_name], [floor_level], [capacity], [floor_type], [map_cols], [map_rows]) VALUES (2, 2, N'Motorbike Floor', 1, 0, N'TWO_WHEEL', 60, 40)
INSERT [dbo].[floors] ([id], [building_id], [floor_name], [floor_level], [capacity], [floor_type], [map_cols], [map_rows]) VALUES (3, 2, N'Zone C', 1, 0, N'FOUR_WHEEL', 60, 40)
SET IDENTITY_INSERT [dbo].[floors] OFF
GO
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (1, N'1', N'init 3nf schema', N'SQL', N'V1__init_3nf_schema.sql', 1067683726, N'sa', CAST(N'2026-06-21T11:12:21.173' AS DateTime), 35, 1)
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (2, N'4', N'add google id', N'SQL', N'V4__add_google_id.sql', -484895798, N'sa', CAST(N'2026-06-21T11:12:21.193' AS DateTime), 6, 1)
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (3, N'5', N'drop username column', N'SQL', N'V5__drop_username_column.sql', 849312137, N'sa', CAST(N'2026-06-21T11:35:52.773' AS DateTime), 81, 1)
GO
SET IDENTITY_INSERT [dbo].[gates] ON 

INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (1, 1, N'Gate01', N'IN', N'NORMAL', N'IDLE', 150, 50, 0, NULL)
INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (2, 1, N'Gate02', N'EXIT', N'NORMAL', N'ACTIVE', 450, 50, 0, NULL)
INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (3, 2, N'Gate A', N'ENTRY_EXIT', N'NORMAL', N'INACTIVE', 0, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[gates] OFF
GO
SET IDENTITY_INSERT [dbo].[incident_tickets] ON 

SET IDENTITY_INSERT [dbo].[incident_tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[monthly_tickets] ON 

INSERT [dbo].[monthly_tickets] ([id], [vehicle_id], [rfid_card_id], [valid_from], [valid_until], [status], [auto_renew], [created_at], [updated_at], [user_id], [vehicle_type_id], [plate]) VALUES (1, NULL, NULL, CAST(N'2026-06-25T23:51:53.613' AS DateTime), CAST(N'2026-09-25T23:51:53.613' AS DateTime), N'ACTIVE', 0, CAST(N'2026-06-24T22:58:47.617' AS DateTime), CAST(N'2026-06-24T23:08:17.9525371' AS DateTime2), NULL, 3, N'11H1-11111')
INSERT [dbo].[monthly_tickets] ([id], [vehicle_id], [rfid_card_id], [valid_from], [valid_until], [status], [auto_renew], [created_at], [updated_at], [user_id], [vehicle_type_id], [plate]) VALUES (2, NULL, NULL, CAST(N'2026-07-02T03:57:23.343' AS DateTime), CAST(N'2026-08-02T03:57:23.343' AS DateTime), N'ACTIVE', 0, CAST(N'2026-06-30T09:56:08.343' AS DateTime), CAST(N'2026-06-30T09:56:42.4952354' AS DateTime2), NULL, 2, N'99H9-99998')
INSERT [dbo].[monthly_tickets] ([id], [vehicle_id], [rfid_card_id], [valid_from], [valid_until], [status], [auto_renew], [created_at], [updated_at], [user_id], [vehicle_type_id], [plate]) VALUES (3, NULL, NULL, CAST(N'2026-07-03T12:00:48.780' AS DateTime), CAST(N'2026-08-03T12:00:48.780' AS DateTime), N'ACTIVE', 0, CAST(N'2026-07-01T10:04:11.780' AS DateTime), CAST(N'2026-07-01T10:04:11.7810863' AS DateTime2), 19, 1, N'99')
SET IDENTITY_INSERT [dbo].[monthly_tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[parking_sessions] ON 

SET IDENTITY_INSERT [dbo].[parking_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_blocks] ON 

INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (23, 15, 1, 120, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (24, 15, 2, 240, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (25, 15, 3, 600, CAST(250000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[pricing_blocks] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_policies] ON 

INSERT [dbo].[pricing_policies] ([id], [policy_name], [global_base_mins], [global_base_fee], [max_parking_cap], [status], [created_at], [updated_at], [vehicle_type_id], [monthly_rate]) VALUES (1, N'B?ng giá Ô tô 4 ch?', 10, CAST(100000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-06-21T23:20:43.147' AS DateTime), CAST(N'2026-07-01T17:10:14.770' AS DateTime), 1, CAST(4000000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_policies] ([id], [policy_name], [global_base_mins], [global_base_fee], [max_parking_cap], [status], [created_at], [updated_at], [vehicle_type_id], [monthly_rate]) VALUES (4, N'B?ng giá Xe máy tiêu chu?n', 15, CAST(5000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-06-22T15:06:49.630' AS DateTime), CAST(N'2026-07-01T17:12:50.590' AS DateTime), 3, CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_policies] ([id], [policy_name], [global_base_mins], [global_base_fee], [max_parking_cap], [status], [created_at], [updated_at], [vehicle_type_id], [monthly_rate]) VALUES (5, N'Pricing table 7-Seater Car', 10, CAST(2000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-07-01T17:21:32.583' AS DateTime), CAST(N'2026-07-01T17:21:32.583' AS DateTime), 2, CAST(200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[pricing_policies] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_shifts] ON 

INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (15, 1, N'Shift Morning', CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time), 960)
INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (16, 1, N'Shift Evening', CAST(N'22:00:00' AS Time), CAST(N'06:00:00' AS Time), 480)
INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (21, 4, N'Shift Morning', CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time), 960)
SET IDENTITY_INSERT [dbo].[pricing_shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[refund_requests] ON 

INSERT [dbo].[refund_requests] ([id], [user_id], [reference_type], [reference_id], [paid_amount], [penalty_fee], [refund_amount], [bank_name], [account_number], [account_name], [status], [cancel_time], [reject_reason], [created_at], [updated_at], [proof_url]) VALUES (1, 8, N'RESERVATION', N'9', CAST(47000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(47000.00 AS Decimal(18, 2)), N'', N'', N'', N'REJECTED', CAST(N'2026-06-29T10:28:09.790' AS DateTime), N'khong có thông tin 
', CAST(N'2026-06-28T09:35:03.800' AS DateTime), CAST(N'2026-06-28T09:48:08.1839083' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[refund_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[reservations] ON 

INSERT [dbo].[reservations] ([id], [vehicle_id], [slot_id], [expected_entry_time], [expected_duration_minutes], [status], [reservation_fee], [qr_code], [refund_status], [refund_amount], [refunded_by], [created_at], [updated_at], [zone_id], [refund_proof_url], [refund_reject_reason], [notified_early_arrival]) VALUES (1, 4, NULL, CAST(N'2026-06-25T02:46:19.000' AS DateTime), 360, N'COMPLETED', CAST(87000.00 AS Decimal(18, 2)), N'QR-4379B6F3', NULL, NULL, NULL, CAST(N'2026-06-24T12:14:13.433' AS DateTime), CAST(N'2026-06-24T19:28:11.7756200' AS DateTime2), 4, NULL, NULL, NULL)
INSERT [dbo].[reservations] ([id], [vehicle_id], [slot_id], [expected_entry_time], [expected_duration_minutes], [status], [reservation_fee], [qr_code], [refund_status], [refund_amount], [refunded_by], [created_at], [updated_at], [zone_id], [refund_proof_url], [refund_reject_reason], [notified_early_arrival]) VALUES (2, 5, NULL, CAST(N'2026-06-25T00:59:25.000' AS DateTime), 120, N'COMPLETED_UNUSED', CAST(50000.00 AS Decimal(18, 2)), N'QR-5E37BF6D', NULL, NULL, NULL, CAST(N'2026-06-24T12:21:58.197' AS DateTime), CAST(N'2026-06-24T14:21:43.1127505' AS DateTime2), 4, NULL, NULL, NULL)
INSERT [dbo].[reservations] ([id], [vehicle_id], [slot_id], [expected_entry_time], [expected_duration_minutes], [status], [reservation_fee], [qr_code], [refund_status], [refund_amount], [refunded_by], [created_at], [updated_at], [zone_id], [refund_proof_url], [refund_reject_reason], [notified_early_arrival]) VALUES (3, 6, NULL, CAST(N'2026-06-25T01:34:41.000' AS DateTime), 120, N'COMPLETED_UNUSED', CAST(50000.00 AS Decimal(18, 2)), N'QR-66298FBD', NULL, NULL, NULL, CAST(N'2026-06-24T12:26:59.497' AS DateTime), CAST(N'2026-06-24T18:52:43.1848509' AS DateTime2), 4, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[rfid_cards] ON 

INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (1, N'rf01', N'AVAILABLE', N'30A-489.36')
INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (2, N'rf02', N'AVAILABLE', N'30A-489.36')
INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (3, N'rf03', N'IN_USE', N'99')
SET IDENTITY_INSERT [dbo].[rfid_cards] OFF
GO
SET IDENTITY_INSERT [dbo].[routing_rules] ON 

INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (1, 1, N'Rule for Zone A', 5, 2, 0, NULL, 1, NULL)
INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (2, 2, N'Rule for Zone B', 90, 3, 0, NULL, 1, NULL)
INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (3, 3, N'Rule for Zone C', 90, NULL, 0, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[routing_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[slots] ON 

INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (1, 1, N'N1', N'OCCUPIED', 9, NULL)
INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (2, 1, N'N2', N'EMPTY', 2, NULL)
INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (3, 1, N'N3', N'EMPTY', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[slots] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_work_sessions] ON 

INSERT [dbo].[staff_work_sessions] ([id], [staff_id], [gate_id], [login_time], [logout_time], [status], [actual_revenue], [discrepancy_status], [expected_revenue], [revenue_variance], [variance_reason]) VALUES (1, 9, 3, CAST(N'2026-06-23T01:47:43.020' AS DateTime), CAST(N'2026-06-23T16:31:33.470' AS DateTime), N'COMPLETED', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[staff_work_sessions] ([id], [staff_id], [gate_id], [login_time], [logout_time], [status], [actual_revenue], [discrepancy_status], [expected_revenue], [revenue_variance], [variance_reason]) VALUES (2, 13, 1, CAST(N'2026-06-23T16:00:03.447' AS DateTime), CAST(N'2026-06-23T16:00:16.780' AS DateTime), N'COMPLETED', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[staff_work_sessions] ([id], [staff_id], [gate_id], [login_time], [logout_time], [status], [actual_revenue], [discrepancy_status], [expected_revenue], [revenue_variance], [variance_reason]) VALUES (3, 13, 4, CAST(N'2026-06-23T16:00:29.673' AS DateTime), CAST(N'2026-06-23T16:11:19.177' AS DateTime), N'COMPLETED', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[staff_work_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[system_configs] ON 

INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (1, N'PAYOS_CLIENT_ID', N'a30f5213-fb75-41bb-9050-031494c4141c', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (2, N'SMTP_EMAIL', N'hoanghht00@gmail.com', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (3, N'VNPAY_CLIENT_ID', N'LFFJLX23', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
SET IDENTITY_INSERT [dbo].[system_configs] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [parking_session_id], [monthly_ticket_id], [payment_order_id], [amount], [payment_method], [status], [transaction_reference], [created_at], [updated_at]) VALUES (1, 33, NULL, NULL, CAST(5000.00 AS Decimal(18, 2)), N'PAYPAL', N'SUCCESS', N'TXN-33-1782456102247', CAST(N'2026-06-26T13:41:42.253' AS DateTime), CAST(N'2026-06-26T13:41:42.2548112' AS DateTime2))
INSERT [dbo].[transactions] ([id], [parking_session_id], [monthly_ticket_id], [payment_order_id], [amount], [payment_method], [status], [transaction_reference], [created_at], [updated_at]) VALUES (2, 32, NULL, NULL, CAST(97000.00 AS Decimal(18, 2)), N'CASH', N'SUCCESS', N'TXN-32-1782456130042', CAST(N'2026-06-26T13:42:10.043' AS DateTime), CAST(N'2026-06-26T13:42:10.0421535' AS DateTime2))
INSERT [dbo].[transactions] ([id], [parking_session_id], [monthly_ticket_id], [payment_order_id], [amount], [payment_method], [status], [transaction_reference], [created_at], [updated_at]) VALUES (3, NULL, NULL, NULL, CAST(47000.00 AS Decimal(18, 2)), N'GATEWAY', N'SUCCESS', N'PENALTY-RES-13', CAST(N'2026-06-28T10:16:23.453' AS DateTime), CAST(N'2026-06-28T10:16:23.4544659' AS DateTime2))
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (7, N'$2a$10$AoJ55xnFR1sfnr7A0tmvJe2l5Vp5ZGHw3O2smYHyYVq68bZUr.JEC', N'Nguyễn Huy Hoàng', N'nguyenhuyhoangnle@gmail.com', N'STAFF', N'ACTIVE', CAST(N'2026-06-21T11:59:43.100' AS DateTime), CAST(N'2026-06-24T09:57:59.727' AS DateTime), N'118228466014209083191', 1)
INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (8, N'$2a$10$SlSBEw9OoLtMu.AQwe6W.uQJmovucTAbz230bJch3CZAytSRDX65C', N'Yeu Po Tao', N'yeupotao@gmail.com', N'CUSTOMER', N'ACTIVE', CAST(N'2026-06-21T12:15:35.570' AS DateTime), CAST(N'2026-06-21T12:39:02.063' AS DateTime), N'118228466014209083191', 1)
INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (9, N'$2a$10$AoPi.FwD7r3TVh7YKGlpBes4IrIRAtnTGnru8awScGrxnUDYyw5jK', N'Tập Học', N'hoctapfu3@gmail.com', N'STAFF', N'ACTIVE', CAST(N'2026-06-21T12:42:45.043' AS DateTime), CAST(N'2026-06-21T15:03:29.760' AS DateTime), N'109274148202442280200', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_types] ON 

INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category], [status], [icon_url]) VALUES (1, N'4-Seater Car', 3, 6, N'FOUR_WHEEL', N'ACTIVE', N'/uploads/4849eec9-f519-463c-a4c0-69bc8e999248.png')
INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category], [status], [icon_url]) VALUES (2, N'7-Seater Car', 3, 6, N'FOUR_WHEEL', N'ACTIVE', N'/uploads/2bbd1941-26d5-4b44-a76e-770a51ba0697.png')
INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category], [status], [icon_url]) VALUES (3, N'Manual Motorbike', 2, 4, N'TWO_WHEEL', N'ACTIVE', N'/uploads/76931f45-0016-4149-9194-cba212071da5.webp')
SET IDENTITY_INSERT [dbo].[vehicle_types] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicles] ON 

INSERT [dbo].[vehicles] ([id], [user_id], [vehicle_type_id], [plate_number], [color], [brand], [status], [blacklist_reason], [created_at], [updated_at], [is_blacklisted], [customer_id], [blacklist_evidence_url]) VALUES (4, NULL, 3, N'51H1-12232', NULL, NULL, N'ACTIVE', NULL, CAST(N'2026-06-24T12:14:13.300' AS DateTime), CAST(N'2026-06-24T12:14:13.3014870' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[vehicles] ([id], [user_id], [vehicle_type_id], [plate_number], [color], [brand], [status], [blacklist_reason], [created_at], [updated_at], [is_blacklisted], [customer_id], [blacklist_evidence_url]) VALUES (5, NULL, 3, N'51H-12345', NULL, NULL, N'ACTIVE', NULL, CAST(N'2026-06-24T12:21:58.090' AS DateTime), CAST(N'2026-06-24T12:21:58.0896490' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[vehicles] ([id], [user_id], [vehicle_type_id], [plate_number], [color], [brand], [status], [blacklist_reason], [created_at], [updated_at], [is_blacklisted], [customer_id], [blacklist_evidence_url]) VALUES (6, NULL, 3, N'54H3-12234', NULL, NULL, N'ACTIVE', NULL, CAST(N'2026-06-24T12:26:59.467' AS DateTime), CAST(N'2026-06-24T12:26:59.4659543' AS DateTime2), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[zone_hourly_trends] ON 

INSERT [dbo].[zone_hourly_trends] ([id], [zone_id], [time_window], [occupancy_pct], [revenue_generated], [entries_count], [exits_count]) VALUES (1, 1, CAST(N'2026-06-25T01:00:00.000' AS DateTime), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0)
INSERT [dbo].[zone_hourly_trends] ([id], [zone_id], [time_window], [occupancy_pct], [revenue_generated], [entries_count], [exits_count]) VALUES (2, 2, CAST(N'2026-06-25T01:00:00.000' AS DateTime), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0)
INSERT [dbo].[zone_hourly_trends] ([id], [zone_id], [time_window], [occupancy_pct], [revenue_generated], [entries_count], [exits_count]) VALUES (3, 3, CAST(N'2026-06-25T01:00:00.000' AS DateTime), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[zone_hourly_trends] OFF
GO
SET IDENTITY_INSERT [dbo].[zones] ON 

INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (1, 1, 1, N'Zone A', N'WALK_IN', 150, 200, 0, 80, N'ACTIVE')
INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (2, 1, 1, N'Monthly04', N'MONTHLY', 0, 1700, 0, 80, N'ACTIVE')
INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (3, 1, 1, N'Zone C', N'WALK_IN', 0, 1400, 0, 80, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[zones] OFF
GO
/****** Object:  Index [flyway_schema_history_s_idx]    Script Date: 01/07/2026 1:48:18 CH ******/
CREATE NONCLUSTERED INDEX [flyway_schema_history_s_idx] ON [dbo].[flyway_schema_history]
(
	[success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___99D12D3F055586E6]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[payment_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__reservat__E2FB888937926F18]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[reservations] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__rfid_car__81703D7203ABBF3C]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[rfid_cards] ADD UNIQUE NONCLUSTERED 
(
	[card_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__system_c__BDF6033D72C5BF25]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[system_configs] ADD UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61647D99F304]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_vehicle_type_name]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[vehicle_types] ADD  CONSTRAINT [UQ_vehicle_type_name] UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vehicles__87EF9F5968B61E2F]    Script Date: 01/07/2026 1:48:18 CH ******/
ALTER TABLE [dbo].[vehicles] ADD UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[building_profiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[fee_adjustments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[gates] ADD  DEFAULT ('NORMAL') FOR [live_override_mode]
GO
ALTER TABLE [dbo].[gates] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[incident_tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[monthly_tickets] ADD  DEFAULT ((0)) FOR [auto_renew]
GO
ALTER TABLE [dbo].[monthly_tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((120)) FOR [global_base_mins]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((20000)) FOR [global_base_fee]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((3000000)) FOR [max_parking_cap]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((0)) FOR [monthly_rate]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [paid_amount]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [penalty_fee]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [refund_amount]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((0)) FOR [notified_early_arrival]
GO
ALTER TABLE [dbo].[rfid_cards] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[routing_rules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[slots] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[slots] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[system_configs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[vehicle_types] ADD  DEFAULT ('FOUR_WHEEL') FOR [category]
GO
ALTER TABLE [dbo].[vehicle_types] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ((0)) FOR [is_blacklisted]
GO
ALTER TABLE [dbo].[zones] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[fee_adjustments]  WITH CHECK ADD FOREIGN KEY([approved_by_staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[fee_adjustments]  WITH CHECK ADD FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[floors]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[building_profiles] ([id])
GO
ALTER TABLE [dbo].[gates]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[floors] ([id])
GO
ALTER TABLE [dbo].[gates]  WITH CHECK ADD  CONSTRAINT [FK_gates_vehicle_types] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[gates] CHECK CONSTRAINT [FK_gates_vehicle_types]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FK26gx0evlarbhj3ruvp3w7kb0k] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FK26gx0evlarbhj3ruvp3w7kb0k]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FK54t2nb3xj2ppmgivct3xkoxv2] FOREIGN KEY([actual_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FK54t2nb3xj2ppmgivct3xkoxv2]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKei7jjnox8ifbbvirdlyt24s9h] FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKei7jjnox8ifbbvirdlyt24s9h]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKfos8x5lp1375ts620f0lvs5i] FOREIGN KEY([expected_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKfos8x5lp1375ts620f0lvs5i]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKt3rriq5ckol1hjkyebqib64ey] FOREIGN KEY([assigned_staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKt3rriq5ckol1hjkyebqib64ey]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKtgpc06yao9n8arem6bty72mvy] FOREIGN KEY([reported_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKtgpc06yao9n8arem6bty72mvy]
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD FOREIGN KEY([rfid_card_id])
REFERENCES [dbo].[rfid_cards] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets] CHECK CONSTRAINT [FK_Monthly_Users]
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_VehicleType] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets] CHECK CONSTRAINT [FK_Monthly_VehicleType]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([gate_in_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([gate_out_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([rfid_card_id])
REFERENCES [dbo].[rfid_cards] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FK165btgndrjw93a99dsl5cf8ud] FOREIGN KEY([entry_gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FK165btgndrjw93a99dsl5cf8ud]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FK6a822rrpeq4sxd8dxq4q1tlp7] FOREIGN KEY([exit_gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FK6a822rrpeq4sxd8dxq4q1tlp7]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKjpktyrfd2m3103vgike7xjao1] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKjpktyrfd2m3103vgike7xjao1]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKn8jg2g4xk41x59di5a5ggvavv] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKn8jg2g4xk41x59di5a5ggvavv]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKslggpksrx8ndhjxbxxvl1g5vp] FOREIGN KEY([slot_id])
REFERENCES [dbo].[slots] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKslggpksrx8ndhjxbxxvl1g5vp]
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[monthly_tickets] ([id])
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[pricing_blocks]  WITH CHECK ADD FOREIGN KEY([shift_id])
REFERENCES [dbo].[pricing_shifts] ([id])
GO
ALTER TABLE [dbo].[pricing_policies]  WITH CHECK ADD  CONSTRAINT [FK_pricing_policies_vehicle_type] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[pricing_policies] CHECK CONSTRAINT [FK_pricing_policies_vehicle_type]
GO
ALTER TABLE [dbo].[pricing_shifts]  WITH CHECK ADD FOREIGN KEY([policy_id])
REFERENCES [dbo].[pricing_policies] ([id])
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [FK_Refunds_Users]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([refunded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[slots] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKn807do9c7ef7k475l0n8p7ull] FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKn807do9c7ef7k475l0n8p7ull]
GO
ALTER TABLE [dbo].[routing_rules]  WITH CHECK ADD FOREIGN KEY([suggested_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[routing_rules]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[slots]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[staff_work_sessions]  WITH CHECK ADD FOREIGN KEY([gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[staff_work_sessions]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[monthly_tickets] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([payment_order_id])
REFERENCES [dbo].[payment_orders] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FKgqjc8pmwiyjslyyf2dnkpdgcs] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FKgqjc8pmwiyjslyyf2dnkpdgcs]
GO
ALTER TABLE [dbo].[zone_hourly_trends]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[zones]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[floors] ([id])
GO
ALTER TABLE [dbo].[zones]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
USE [master]
GO
